#buttons {
  position: absolute;
  z-index: 15;
  top: 60%;
  left: 50%;
  margin: -100px 0 0 -200px;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #E91E63;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 40px;
}

button.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #E91E63;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  padding: 10px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

input {
  padding: 20px;
  width: 90%;
  height: 21px;
  padding: 12px 20px;
  margin: 0 auto;
}
