#buttons {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
}

button.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #E91E63;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
  padding: 10px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button.button2 {
  display: inline-block;
  border-radius: 0px 4px 4px 0px;
  background-color: #E91E63;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  padding: 8px;
  height: 50px;
  width: 135px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px 5px 5px 0px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

input {
  padding: 20px;
  width: 220px;
  height: 21px;
  padding: 12px 20px;
  margin: 6px 0px 6px 6px;
}
